.error {
    background-color: rgb(238, 95, 95);
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
    &--serious {  /*Perceba aqui que usando o "&" o sistema já detectou que deve copiar as propriedades da classe
                    error para a classe error--serious*/
        @extend .error; /*Usamos o @extend para chamar a tensão da regra para o seletor "error"*/
        border-width: 3px;
    }
}